

#bg_image::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    height: 200%;
}

#details_container {
    position: relative;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#details_container img {
    width: 350px;
    height: 500px;
    margin: 25px 0px 4px 15px;
    border-radius: 18px;
    cursor: pointer;
        
}

#container_content {
    margin-top: 3rem;
    width: 650px;
}

#collections {
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    margin: 2rem -2rem;
}

#collections img{
    width: 100px;
    height: 50px;
    border-radius: 18px;
    cursor: pointer;
    margin-top: -.1px;
}

#collections_one {
    color: #ff206e;
}

#collections_two  {
    color: #ee9800;
}

#container_overview {
    margin-top: 2rem;
}

#container_overview h1{
    color:#ff206e;
}

#container_overview h2 {
    margin-top: 1.5rem;
}

#container h3 {
    font-weight: lighter;
    margin-bottom: 1rem;
}

#container h3 span{
    color: #ff206e;
}

h2 span {
    color:#ee9800;
    font-size: 16px;
} 

#container em {
    opacity: 0.4;
}

#secondaryColor {
    background-color: #0c1e25;
}


.bottom_bg img {
    opacity: 0.5;
}

.bottom_bg {
    position: relative;
}


@media screen and (max-width : 789px) {

    html,body {
        overflow-x: hidden;
    }

    #bg_image::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 6%;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        height: 100%;
    }

    .trailer {
        width: 20px;
    }

    #details_container {
        position: relative;
        color: aliceblue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    #details_container img {
        width: 150px;
        height: 200px;
        margin: 25px 0px 4px 15px;
        border-radius: 18px;
        cursor: pointer;

    }

    #container_content {
        margin-top: 3rem;
        width: 350px;
    }

    #container_content h1 {
        font-size: 1.5rem;
    }

    #container_content h2 {
        font-size: 1rem;
    }

    #container_content h3 {
        font-size: .9rem;
    }

    #collections {
        display: flex;
        justify-content: space-around;
        width: 110%;
        align-items: center;
        margin: 2rem -2rem;
    }

    #collections img {
        width: 100px;
        height: 50px;
        border-radius: 18px;
        cursor: pointer;
        margin-top: -.1px;
    }

    #collections_one {
        color: #ff206e;

    }

    #collections_two {
        color: #ee9800;
    }

    #container_overview {
        margin-top: 2rem;
    }

    #container_overview h1 {
        color: #ff206e;
    }

    #container_overview h2 {
        margin-top: 1.5rem;
    }

    #container h3 {
        font-weight: lighter;
        margin-bottom: 1rem;
    }

    #container h3 span {
        color: #ff206e;
    }

    h2 span {
        color: #ee9800;
        font-size: 16px;
    }

    #container em {
        opacity: 0.4;
    }

    #secondaryColor {
        background-color: #0c1e25;
    }

    .trailer {
        height: 100%;
            width: 100%;
            min-height: 225px;
    }


    .bottom_bg img {
        opacity: 0.5;
    }

    .bottom_bg {
        position: relative;
    }

}