
.container {
    position: relative;
}

.NoContainer {
    opacity: 0.35;
}

h4 {
    font-size: 12px;
    text-align: center;
    margin-top: 9px;
}

#smallertext {
    font-size: 8px;
}

#playicon {
    position: absolute;
    bottom: 30px;
    left: 20px;
    visibility: visible;
    z-index: 100;
    cursor: pointer;
}

.movie_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie_container img {
    width: 250px;
    height: 400px;
    margin: 25px 0px 4px 15px;
    border-radius: 18px;
    cursor: pointer;
}

.movie_container img:hover {
    transform: scale(1.05);
    transition: .5s ease;
}

.mainBgColor {
    transition: .7s ease;
    background-color: #0c1e25;
    width: 100%;
}

.secondaryBgColor {
    transition: .7s ease;
    background-color: #fff;
    width: 100%;
}

.mainColor {
    transition: .7s ease;
    color: #fff;
}

.secondaryColor {
    transition: .7s ease;
    color: #ff206e;;
}

#hide {
    display: none;
}

#Exit1 {
    position: absolute;
    top: 97px;
    left: 75%;
    z-index: 999;
    display: block;
}

#Nothing {
    display: none;
}

.bottom_bg img {
    opacity: 0.5;
}

.bottom_bg {
    position: relative;
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bolder;
}

.profile_link {
    position: absolute;
    top: 20%;
    left: 30%;
}

.profile {
    text-align: center;
    margin-bottom: 1rem;
}


@media screen and (max-width : 789px) {

    html,body {
        overflow-x: hidden;
    }

        container {
            position: relative;
        }
    
        .NoContainer {
            opacity: 0.35;
        }
    
        h4 {
            font-size: 8px;
            text-align: center;
            margin-top: 9px;
        }
    
    
        .bottom_bg img {
            opacity: 0.5;
        }
    
        .bottom_bg {
            position: relative;
            margin-top: 2rem;
            text-align: center;
        }
    
        .bottom_bg h2 {
            text-align: center;
            font-size: 1rem;
            margin-bottom: 2rem;
            font-weight: bolder;
        }
    
        .profile_link {
            position: absolute;
            top: 20%;
            left: 10%;
        }
    
        .profile {
            text-align: center;
            margin-bottom: 1rem;
        }


}